h1 {
  color: rgb(37, 107, 107);
  background: rgb(128, 128, 128);
  text-align: center;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.cheatsheets{
  color: rgb(0, 9, 128);
  width: 500px;
  margin: 20px 60px;
  border: rgb(0, 9, 128) dotted;
}

.cheatsheets li{
  color:rgb(0, 9, 128);
  text-align: center;
}

.cheatsheets h2{
  text-align: center;
}

.cheatsheets p{
  text-align: center;
}

#memory_aids{
  color: green;
}