.content {
    /* box stuff */

        /*colours*/
        border: 1px dotted red;
        background-color: lightblue;

        /*position*/
        display: inline-block;

        /*box size*/
        max-width: 250px;
        height: 150px;

        /*box model adjustments*/
        padding: 20px 30px;
        margin: 30px 20px;

    /*text stuff */
    color: blue;
    font-size: 14px;
    line-height: 48px;
    text-align: left;}